@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: TheBrown;
  src: url('../fonts/The Brown.otf') format('truetype');
}

@font-face {
  font-family: PlusJakarta;
  src: url('../fonts/PlusJakartaSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: MontBold;
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Mont;
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

.backdropCircle {
  background: rgba( 230, 233, 240, 0.35 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 2px solid rgba(255, 255, 255, 0.342);
}

.backdropArticle {
  background: rgba( 230, 233, 240, 0.35 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 2px solid rgba(255, 255, 255, 0.342);
}

@media (max-width: 450px) {
  .backdropArticle {
    background-color: transparent;
    border: none;
    backdrop-filter: none;
  }
}

.backdropBg {
  background: rgba( 255, 255, 255, 0.35 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
}

.backdropCard {
  background: rgba(209, 212, 217, 0.349);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
}

.card {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  backdrop-filter: (10px);
}

.menu {
  animation: menu;
  animation-duration: .4s;
}

.menuclose {
  animation-name: menuClose;
  animation-duration: .4s;
}

@keyframes menuClose {
  from {
      right: 0;
  }

  to {
      right: -40px;
  }
}

@keyframes menu {
  from {
      right: -40px;
  }

  to {
      right: 0;
  }
}

.three-points {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.three-points-topic {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.three-points-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

.showModal {
  animation: showModal .7s;
}

@keyframes showModal {
  from {
      top: -150px;
  }

  to {
      top: 0;
  }
}

.scrollBar::-webkit-scrollbar {
	width: 7px;
  background-color: transparent;
}

.scrollBar::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: #2084FF;
}

.bodyScrollBar::-webkit-scrollbar {
  width: 9px;
  background-color: transparent;
}

.bodyScrollBar::-webkit-scrollbar-thumb {
	background-color: #2084FF;
  border-radius: 10px;
}

.blackScreen {
  background-color: #1e272ecb;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.centerModal {
  position:fixed;
  top: 0; left: 0;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
}

.inputText{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  border: 1px solid #DADCE0;
  border-radius: .5rem;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
  transition: all .2s;
}

.inputLable{
  position: absolute;
  left: 1rem;
  top: .8rem;
  padding: 0 .25rem;
  color: #80868B;
  background-color: #fff;
  transition: all .3s;
}

.inputText:focus + .inputLable{
  top: -.5rem;
  left: .8rem;
  color: #2084FF;
  font-size: 0.75rem;
  font-weight: 500;
  z-index: 10;
}

.inputText:not(:placeholder-shown).inputText:not(:focus)+ .inputLable{
  top: -.5rem;
  left: .8rem;
  font-size: 0.75rem;
  font-weight: 500;
  z-index: 10;
}

.inputText:focus{
  border: 1.5px solid #2084FF;
}

.responsive-calendar {
  font-size: 9px !important;
}

@media (max-width: 1500px) {
  .responsive-calendar {
    font-size: 10px !important;
  }
}

@media (max-width: 1200px) {
  .responsive-calendar {
    font-size: 9px !important;
  }
}

@media (max-width: 768px) {
  .responsive-calendar {
    font-size: 8px !important;
  }
}

/* Large screens */
@media (min-width: 2500px) {
  .responsive-calendar {
    font-size: 12px !important;
  }
}

.active span {
  margin-top: -1.5rem;
}

.active h3 {
  transform: translateY(1rem);
  transition-duration: 700ms;
  opacity: 1;
}

.active .indiactor {
  display: block !important;
}

@media (min-width: 768px) {
  .active {
    color: #2084FF;
    border-bottom: 1px solid #2084FF;
    padding-bottom: 2px;
  }
}